VITE_SUPABASE_URL=https://ljqfhvpfgvngxpaiufmk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxqcWZodnBmZ3ZuZ3hwYWl1Zm1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0NjkyOTQsImV4cCI6MjA4ODA0NTI5NH0.PZ7OQTAMfwaWAUARC3hIejrCy6oluXRQg1ZZx8uphhQ
